@import './normalize.css';
@import './typebase.css';
@import './animations.css';
@import './sections/intro.css';
@import './sections/product.css';



html, body {
  height: 100%;
  margin: 0;
  background: white;
}

svg {
  vertical-align: middle;
}

section {
  text-align: center;
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid darkgoldenrod; */
  background-color: #999;
}

.is-active {
  z-index: 100;
  background-color: white;
}

.inner {
  width: 95%;
  margin: 0 auto;
  /* border: 1px dotted slateblue; */
}



.bg-black {
  background-color: #000;
  color: white;
}

.bg-blue {
  background-color: #91B7C7;
}

.bg-green {
  background-color: #59A96A;
}
