doctype html
html
  include includes/head.pug
  body
    div#fullpage

      section.section.bg-black
        h2 Our relationship with the planet Earth is broken

      section.section
        h3 We have lost touch with the nature...


    //- footer
    include includes/footer.pug



