doctype html
html
  include includes/head.pug
  body

    main.fullpage

      //- intro
      section.intro
        .connections
          include images/connections.svg
        .inner
          h3.intro-text-1
            | Our relationship with planet Earth is broken
          h3.intro-text-2
            | We have lost touch with
            span.nature &nbsp;nature
            span.technology ,&nbsp;technology
            span.people &nbsp;and each other
          h3.intro-text-3
            | What if we used a network that developed over<br/>aeons to restore the connection?

      //- product
      section.product
        .kit
          include images/mycelio.svg
        .inner
          h2 Eneter Mycelio

      //- benefits
      section.benefits
        .inner
          h2 Benefits of mushrooms






    //- footer
    include includes/footer.pug



