doctype html
html
  include includes/head.pug
  body

    main.fullpage

      //- intro
      section.intro
        .connections
          include images/connections.svg
        .inner
          h3.intro-text-1
            | Our relationship with planet Earth is broken
          h3.intro-text-2
            | We have lost touch with
            span.nature &nbsp;nature
            span.technology ,&nbsp;technology
            span.people &nbsp;and each other
          h3.intro-text-3
            | What if we turned to the nature&rsquor;s own internet<br/>to restore the connection?

      //- benefits
      section.benefits
        .inner
          h2 Benefits of mushrooms

      //- product
      section.product
        .inner
          h2 Eneter Mycelio




    //- footer
    include includes/footer.pug



